<h1>All Parks</h1>

<% @parks.each do |park| %>
<div class="row-inline">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%=park.picture%>" alt="park picture">
      <div class="caption">
        <h3><%=park.name%></h3>
        <p><%=park.description%></p>
        <%= link_to park.name, park_path(park.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<%end%>
