
<div class="container">
    <div class="jumbotron">
      <h1>Welcome to National Parks!</h1>
      <p>Be One With Nature</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <body>
    </body>
</div>
