
<div class="container">
    <div class="jumbotron">
      <h1>Welcome to National Parks!</h1>
      <p>Be One With Naturedddssssss</p>
      <p><%= link_to "See all parks", parks_path, class: "btn btn-primary" %></p>
    </div>
</div>
